.screen-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}

.screen-header__icons {
  margin-right: 0px;
}

.screen-header__icons span {
  margin: 0px 9px;
}